.reasons
	margin-top: -1px
	background-color: #fff
	padding: 60px 30px 0 30px
	text-align: center
	@media (min-width: 1024px)
		padding: 120px 30px 70px 30px
	@media (min-width: 1440px)
		padding: 120px 30px 350px 30px
	&__title
		width: 320px
		font-family: Bebas Neue, sans-serif
		font-size: 56px
		letter-spacing: 4px
		color: #343235
		text-align: left
		@media (min-width: 1024px)
			font-size: 96px
			line-height: 96px
			text-align: center
			width: auto
			margin: 0 0 0 0

.reasons-slider
	position: relative
	display: flex
	flex-direction: column

.reasons-slider-tog //навигация слайдера
	display: none
	@media (min-width: 1024px)
		display: flex
		justify-content: center
		align-items: center
.reasons-slider-tog-block
	display: flex
	flex-direction: column
	justify-content: center
	margin-left: -10px
	margin-right: -10px
	cursor: pointer
	@media (min-width: 1440px)
		margin-left: 20px
		margin-right: 20px
.reasons-slider-tog-block:nth-child(1),.reasons-slider-tog-block:nth-child(8)
	margin-top: 190px
.reasons-slider-tog-block:nth-child(2),.reasons-slider-tog-block:nth-child(7)
	margin-top: 40px
.reasons-slider-tog-block:nth-child(3),.reasons-slider-tog-block:nth-child(6)
	margin-bottom: 50px
.reasons-slider-tog-block:nth-child(4),.reasons-slider-tog-block:nth-child(5)
	margin-bottom: 80px
.tog-block__img
	display: flex
	justify-content: center
	align-items: flex-end
	margin-bottom: 24px
	filter: grayscale(70%)
	width: 144px
	height: 98px
.tog-block__btn
	display: block
	margin: auto
	width: 64px
	height: 64px
	border: 2px solid #DEDEDE
	border-radius: 50%
	background-color: transparent
	outline: none
	text-decoration: none
	cursor: pointer

	font-family: SignPainter, sans-serif
	font-size: 40px
	line-height: 65px
	text-align: center
	letter-spacing: 0.02em
	color: #343235
	&:focus
		border: 2px solid #343235
		color: #F03A2B

.reasons
	&-slider-wr
	&-slider-block
		position: relative
		display: flex
		flex-direction: column
		transition: 0.4s
	&__subtitle
		font-family: Museo Sans Cyrl, sans-serif
		font-size: 20px
		line-height: 32px
		letter-spacing: 0.02em
		color: #F03A2B
		text-align: left
		@media (min-width: 1024px)
			font-family: Bebas Neue, sans-serif
			font-size: 32px
			line-height: 40px
			text-align: center
			letter-spacing: 2px
			color: #343235
			width: 590px
			margin: 0 auto 80px
	&__img
		width: 350px
		object-fit: cover
		& img
			width: 100%	
		@media (min-width: 1024px)
			position: absolute
			top: 130px
			right: 0
			width: 440px
		@media (min-width: 1440px)
			width: 800px
	&__text
		font-size: 16px
		font-family: Museo Sans Cyrl, sans-serif
		line-height: 32px
		padding: 20px 0
		letter-spacing: 0.02em
		color: #343235
		text-align: left
		@media (min-width: 1024px)
			width: 517px
			font-size: 20px
			line-height: 40px
			margin: 0 0 75px 0
	&__minus
		font-family: Bebas Neue, sans-serif
		font-weight: bold
		text-align: left
		font-size: 24px
		letter-spacing: 2px
		color: #F03A2B
		margin: 0 0 25px 0
		@media (min-width: 1024px)
			width: 517px
		&-text
			font-family: Museo Sans Cyrl, sans-serif
			font-size: 16px
			line-height: 32px
			letter-spacing: 0.02em
			text-align: left
			color: #8B8B8B
			margin: 0 0 30px 0
			@media (min-width: 1024px)
				width: 410px

.pages
	display: flex
	justify-content: center
	align-items: center
	line-height: normal
	&__pre
		position: relative
		font-family: Museo Sans Cyrl, sans-serif
		font-size: 14px
		letter-spacing: 0.02em
		text-decoration-line: underline
		color: #BEBEBE
		padding: 0 15px 12px 15px
		cursor: pointer
		@media (min-width: 370px)
			padding: 0 25px 12px 25px
		&:before
			content: ''
			position: absolute
			top: -6px
			left: -20px
			background: url(../img/list-pre.png) center no-repeat
			width: 32px
			height: 32px
		&:hover
			color: #343235
			&:before
				background: url(../img/list-pre-hover.png) center no-repeat
	&__next
		position: relative
		font-family: Museo Sans Cyrl, sans-serif
		font-size: 14px
		letter-spacing: 0.02em
		text-decoration-line: underline
		color: #BEBEBE
		padding: 0 15px 12px 15px
		cursor: pointer
		@media (min-width: 370px)
			padding: 0 25px 12px 25px
		&:after
			content: ''
			position: absolute
			top: -6px
			right: -20px
			background: url(../img/list-next.png) center no-repeat
			width: 32px
			height: 32px
		&:hover
			color: #343235
			&:after
				background: url(../img/list-next-hover.png) center no-repeat
	&__num
		font-family: SignPainter, sans-serif
		font-size: 32px
		text-align: center
		letter-spacing: 0.02em
		color: #F03A2B
		@media (min-width: 370px)
			font-size: 40px
		&-from
			font-family: SignPainter, sans-serif
			font-size: 32px
			text-align: center
			letter-spacing: 0.02em
			color: #343235
			@media (min-width: 370px)
				font-size: 40px

.reasons-pages
	@media (min-width: 1024px)
		display: none
.reasons-button
	display: none
	@media (min-width: 1024px)
		display: inline-block
		width: 352px