.comments
	background-color: #fff
	padding: 80px 0 0 0
	&__title
		text-align: left
		font-family: Bebas Neue, sans-serif
		font-size: 56px
		line-height: 56px
		letter-spacing: 4px
		color: #343235
.comments-wr
	padding: 46px 0 0 0
.comments__comment
	margin: 0 0 20px 0
.student-wr
	display: flex
	align-items: center
	margin: 0 0 20px 0
.student-img
.student-name-and-stram
	margin: 0 0 0 20px
.student-name
	font-family: SignPainter, sans-serif
	font-size: 32px
	line-height: 32px
	color: #343235
	& span
		color: #F03A2B
.student-stream
	font-family: Museo Sans Cyrl, sans-serif
	font-size: 14px
	line-height: 14px
	letter-spacing: 4px
	text-transform: uppercase
	color: #8B8B8B
.comment-wr
	font-family: Museo Sans Cyrl, sans-serif
	font-size: 14px
	line-height: 32px
	letter-spacing: 0.02em
	color: #8B8B8B