.projects
	background-color: #fff
	padding: 200px 0 50px 0
	&__title
		text-align: cenleft
		font-family: Museo Sans Cyrl, sans-serif
		font-size: 32px
		line-height: 40px
		letter-spacing: 0.02em
		color: #343235
		margin: 0 0 24px 0

.companies-wr
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	margin: 0 0 24px 0
	& img
		margin: 20px 0