.warranty
	background-color: #fff
	height: 80vh
	padding: 200px 0 0 0
	&__title
		text-align: center
		font-family: Museo Sans Cyrl, sans-serif
		font-size: 40px
		line-height: 48px
		letter-spacing: 0.02em
		color: #343235
		& span
			font-family: SignPainter
			font-size: 96px
			line-height: normal
			color: #F03A2B