doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="theme-color" content="#171717")
		link(rel="stylesheet", href="static/css/slick.css")
		link(rel="stylesheet", href="static/css/slick-theme.css")
		//- link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		link(rel="stylesheet", href="static/css/main.css?v.0.0.21")
		title MaEd
	body
		.main-wr
			// --------------heder----------------
			header.container.container-test-1024.container-test-1440.container-test-1800
				.header
					a.header__logo(href="/")
						img(src="static/img/logo.png", alt="Логотип MaEd")
					a.header__logo-big(href="/")
						img(src="static/img/logo-big.png", alt="Логотип MaEd")
					.headerInfoWr
						.headerInfo
							.headerInfo__date 29.94 – 25.07
							.headerInfo__time понедельник и&nbsp;четверг 18:00
						.headerInfo
							.headerInfo__format Формат
							.headerInfo__formatDescr Вебинары, Skype, Facebook

			// --------------main-----------------
			section.container.main-container.container-test-1024.container-test-1440
				.main
					.marketers
						.marketers__photos
							img(src="static/img/avatar-andrey-gavrikov.png", alt="Андрей Гавриков")
							img(src="static/img/avatar-vladimir-davydov.png", alt="Владимир Давыдов")
							img(src="static/img/avatar-mikhael-fedorov.png", alt="Михаил фёдоров")
							img(src="static/img/avatar-andrey-gavrikov.png", alt="Андрей Гавриков")
							img(src="static/img/avatar-vladimir-davydov.png", alt="Владимир Давыдов")
							img(src="static/img/avatar-mikhael-fedorov.png", alt="Михаил фёдоров")
							img(src="static/img/avatar-andrey-gavrikov.png", alt="Андрей Гавриков")
						p.marketers__text Курс разработали практикующие интернет-маркетологи и&nbsp;совладельцы маркетинговой группы <span class="marketers__text-yellow">«Ком ето»</span> на основе опыта работы с российскими компаниями
					h1.main__title Интернет- маркетинг
					h2.main__subtitle Для B2B и сложных рынков
					p.main__text Покажем, как выстроить стратегию и&nbsp;тактику интернет-маркетинга для&nbsp;Вашей компании
					a.button(href="#") Зарегистрироваться
				img.main__img(src="static/img/andrey-gavrikov-main.png", alt="Андрей Гавриков")
				img.main__img(src="static/img/andrey-gavrikov-main-big.png", alt="Андрей Гавриков")
			.header__img

			// --------------feature---------------
			section.feature
				.feature__img
				.container.container-test-1024.container-test-1440
					h2.feature__title Чем этот курс отличается от других?
					.features
						.features__block
							img.features__img(src="static/img/steps.png", alt="Ступеньки" data-aos="fade-up")
							h3.features__title Системная подача информации
							p.features__text Учим объединять инструменты интернет- маркетинга в систему, где каждый инструмент дополняет другой и нацелен на решение задач бизнеса. Отдельные метрики: конверсии, CTR, открытия писем&nbsp;—&nbsp;не наш приоритет
						.features__block.features__block-du
							img.features__img.features__img-du(src="static/img/digital-strategy.png", alt="Стратегия" data-aos="fade-up")
							h3.features__title Резлуьтат – готовая digital&#8209;стратегия
							p.features__text Урок за уроком вы будете применять различные инструменты и создадите стратегию digital-маркетинга для вашего проекта на 2019 год. Это готовый план действий, который можно внедрить сразу после курса
						.features__block
							img.features__img(src="static/img/keyboard.png", alt="Практика" data-aos="fade-up")
							h3.features__title Практика во&nbsp; время&nbsp;обучения
							p.features__text Вы сегментируете целевую аудиторию, проведете конкурентный анализ, подберете поисковые запросы, составите требования для контекстной рекламы, разработаете стратегию контент-маркетинга, email-маркетинга и т.д.
						.features__block
							//- svg(viewBox="0 0 357 282")
							//- 	path.features__path(d="M 5.9145288,58.515306 5.0695961,227.07938 c 5.4407869,17.5855 14.3047369,32.61569 33.7973069,39.71183 41.046703,4.81365 82.832767,7.59405 125.472507,8.02686 52.245,-0.66921 104.49001,-1.68287 156.73501,-5.49206 16.9126,-8.88487 26.34591,-22.37239 32.95237,-37.5995 L 354.87173,56.402974 C 352.34708,43.528982 350.67052,30.555216 335.01581,19.225937 315.47858,10.933781 293.8333,7.2860945 270.02847,6.923159 L 201.09398,5.2845473 139.83636,4.862081 68.862013,9.0867444 C 56.142153,10.64221 44.213798,9.7647826 31.262509,15.001273 14.781699,22.983936 6.6511246,39.5724 5.9145288,58.515306 Z")
							h3.features__title-custom Кастомизируем
							p.features__text-custom программу под задачи вашей организации и обучим сотрудников

			// --------------course-for------------
			section.course-for
				h2.course-for__title Для кого курс
				.slider-course-for
					.slider-course-for__list <span id="sliderList">1</span> из 4
					.slider-course-for__wrapper#sliderCourse
						.slider-course-for__img-wr
							.slider-course-for__img
								img(src="static/img/r2d2.png", alt="r2d2")
							h3.slider-course-for__title <span>К</span>оммерческий директор
							p.slider-course-for__text Работник
							.slider-course-for__circle
						.slider-course-for__img-wr
							.slider-course-for__img
								img(src="static/img/vader.png", alt="Вейдер")
							h3.slider-course-for__title <span>Г</span>енеральный директор
							p.slider-course-for__text Владелец бизнеса
							.slider-course-for__circle
						.slider-course-for__img-wr
							.slider-course-for__img
								img(src="static/img/chubaka.png", alt="Вейдер")
							h3.slider-course-for__title <span>Д</span>иректор по маркетингу
							p.slider-course-for__text Работник
							.slider-course-for__circle
						.slider-course-for__img-wr
							.slider-course-for__img
								img(src="static/img/c3po.png", alt="C3PO")
							h3.slider-course-for__title <span>М</span>енеджер по маркетингу
							p.slider-course-for__text Работник
							.slider-course-for__circle
					.course-for-big-slider

						.course-for-big-slider__mini
							.mini-block
								.mini-block__img
									img(src="static/img/chubaka-mini.png", alt="Чубака")
								.mini-block__text Директор по маркетингу
							.mini-block
								.mini-block__img
									img(src="static/img/c3po-mini.png", alt="c3po")
								.mini-block__text Директор по маркетингу
							.mini-block
								.mini-block__img
									img(src="static/img/r2d2-mini.png", alt="r2d2")
								.mini-block__text Директор по маркетингу
							.mini-block
								.mini-block__img
									img(src="static/img/vader-mini.png", alt="Вейдер")
								.mini-block__text Директор по маркетингу

						.course-for-big-slider__maxi
							.maxi-block
								.maxi-block__img
									img(src="static/img/vader-big.png", alt="Вейдер")
								//- .maxi-block__text
								//- 	h3.maxi-block__text-title Генеральный директор
								//- 	p.maxi-block__text-subtitle Владелец бизнеса

				.cource-info-wrapper
					.cource-info
						.cource-info-block(data-aos="fade-up")
							img(src="static/img/glasses.png", alt="Очки")
							h3.cource-info-block__title 100% контроль
							p.cource-info-block__text Любых интернет-агетств и подрядчиков
					.cource-info
						.cource-info-block(data-aos="fade-up")
							img(src="static/img/kompas.png", alt="Компасс")
							h3.cource-info-block__title Стратегия
							p.cource-info-block__text Готовая стратегия электронного маркетинга на 6-12 месяцев
					.cource-info
						.cource-info-block(data-aos="fade-up")
							img(src="static/img/rubik.png", alt="Кубик Рубика")
							h3.cource-info-block__title Аналитика
							p.cource-info-block__text Аналитика «до денег» — то, что ждет от вас руководство
					.cource-info
						.cource-info-block(data-aos="fade-up")
							img(src="static/img/plan.png", alt="Схема")
							h3.cource-info-block__title Ясность
							p.cource-info-block__text Расскажем, как выстроить отдел интернет-маркетинга внутри компании

			// --------------reasons---------------
			section.reasons
				.container.container-test-1024.container-test-1440
					h2.reasons__title 8 Причин пройти курс
					.reasons-slider
						p.reasons__subtitle Вы читали книги и статьи, учились на курсах, но в голове – борщ из обрывочных знаний
						.reasons__img
							img(src="static/img/borsh.jpg", alt="Борщ")
						p.reasons__text Преподаватели — 100% практики. Не консультанты, не теоретики, не инфобизнесмены. Рассказываем о том, что делаем в проектах для наших клиентов. Теория подкрепляется реальными российскими кейсами, а не абстрактными Apple и Coca-Cola.
						h2.reasons__minus Минусы дорогих курсов:
						p.reasons__minus-text Программа основана на инструментах, а не на классическом маркетинге и целях бизнеса.
						a.button.reasons-button Зарегистрироваться
					.pages.reasons-pages
						.pages__pre предыдущий
						.pages__num 1
						.pages__num-from /8
						.pages__next следующий
			// --------------specialists-----------
			section.specialists
				.container.container-test-1024
					h3.specialists__title Курс проводят специалисты маркетинговой группы <span>«Комплето»</span>
					.specialists__img
						img.specialists__img(src="static/img/completo-peoples-small.jpg", alt="Специалисты группы Комплето")

			// --------------teachers--------------
			section.teachers
				.container.company-container
					.company
						h3.company__title У нас учились специалисты из этих компаний:
						.company__img
							.company__img-block
								img(src="/static/img/dassault.png", alt="dassault")
							.company__img-block
								img(src="/static/img/gasprom01.png", alt="Газпром")
						.pages
							.pages__pre предыдущий
							.pages__num 1
							.pages__num-from /8
							.pages__next следующий
					h2.teachers__title Преподаватели
					.teachers-slider
						.teachers-slider__mini-images
							.mini-image01
								img(src="static/img/avatar-andrey-gavrikov2.png", alt="Андрей Гавриков")
							.mini-image01
								img(src="static/img/avatar-vladimir-davydov3.png", alt="Андрей Гавриков")
							.mini-image01
								img(src="static/img/avatar-mikhael-fedorov3.png", alt="Андрей Гавриков")
							.mini-image01
								img(src="static/img/dmitry-fedorov3.png", alt="Андрей Гавриков")
							.mini-image01
								img(src="static/img/dmitry-fedorov3.png", alt="Андрей Гавриков")
						#slider01.teachers-slider__full-info
							.full-info01
								.full-info01__img
									img(src="static/img/mixail-fedorov-big.png", alt="Михаил Фёдоров")
								h3.full-info01__name Михаил Федоров
								p.full-info01__text Совладелец и технический директор маркетинговой группы «Комплето». Аккредитованный преподаватель Нидерландского Института Маркетинга, Академии интернет-маркетинга «Ашманов и партнеры», Нетологии, CyberMarketing. Спикер на ключевых конференциях по поисковой оптимизации и веб-аналитике: iMetrics, Ашмановка и другие
								h3.full-info01__title Ключевые компетенци
								.full-info01__competence
									p.full-info01__competence-text SEO-архитектор: планирование, прогнозирование и реализация стратегий SEO и SEM
									p.full-info01__competence-text Поисковая и контекстная реклама
									p.full-info01__competence-text Веб и бизнес-аналитика, их интеграция с хранилищами данных и внешними системами (CRM, телефония, сайт, складские системыи системы учета)
									p.full-info01__competence-text Классический маркетинг
									p.full-info01__competence-text Построение отчетности с помощью сквозной аналитики для управления бизнесом
								.cooperated
									h3.cooperated__title Сотрундничал
									.cooperated__logo-wr
										.cooperated__logo-img
											img(src="/static/img/gasprom01.png", alt="ГазПром")
										.cooperated__logo-img
											img(src="/static/img/gasprom01.png", alt="ГазПром")
							.full-info01
								.full-info01__img
									img(src="static/img/mixail-fedorov-big.png", alt="Михаил Фёдоров")
								h3.full-info01__name Михаил Федоров
								p.full-info01__text Совладелец и технический директор маркетинговой группы «Комплето». Аккредитованный преподаватель Нидерландского Института Маркетинга, Академии интернет-маркетинга «Ашманов и партнеры», Нетологии, CyberMarketing. Спикер на ключевых конференциях по поисковой оптимизации и веб-аналитике: iMetrics, Ашмановка и другие
								h3.full-info01__title Ключевые компетенци
								.full-info01__competence
									p.full-info01__competence-text SEO-архитектор: планирование, прогнозирование и реализация стратегий SEO и SEM
									p.full-info01__competence-text Поисковая и контекстная реклама
									p.full-info01__competence-text Веб и бизнес-аналитика, их интеграция с хранилищами данных и внешними системами (CRM, телефония, сайт, складские системыи системы учета)
									p.full-info01__competence-text Классический маркетинг
									p.full-info01__competence-text Построение отчетности с помощью сквозной аналитики для управления бизнесом
								.cooperated
									h3.cooperated__title Сотрундничал
									.cooperated__logo-wr
										.cooperated__logo-img
											img(src="/static/img/gasprom01.png", alt="ГазПром")
										.cooperated__logo-img
											img(src="/static/img/gasprom01.png", alt="ГазПром")
							.full-info01
								.full-info01__img
									img(src="static/img/mixail-fedorov-big.png", alt="Михаил Фёдоров")
								h3.full-info01__name Михаил Федоров
								p.full-info01__text Совладелец и технический директор маркетинговой группы «Комплето». Аккредитованный преподаватель Нидерландского Института Маркетинга, Академии интернет-маркетинга «Ашманов и партнеры», Нетологии, CyberMarketing. Спикер на ключевых конференциях по поисковой оптимизации и веб-аналитике: iMetrics, Ашмановка и другие
								h3.full-info01__title Ключевые компетенци
								.full-info01__competence
									p.full-info01__competence-text SEO-архитектор: планирование, прогнозирование и реализация стратегий SEO и SEM
									p.full-info01__competence-text Поисковая и контекстная реклама
									p.full-info01__competence-text Веб и бизнес-аналитика, их интеграция с хранилищами данных и внешними системами (CRM, телефония, сайт, складские системыи системы учета)
									p.full-info01__competence-text Классический маркетинг
									p.full-info01__competence-text Построение отчетности с помощью сквозной аналитики для управления бизнесом
								.cooperated
									h3.cooperated__title Сотрундничал
									.cooperated__logo-wr
										.cooperated__logo-img
											img(src="/static/img/gasprom01.png", alt="ГазПром")
										.cooperated__logo-img
											img(src="/static/img/gasprom01.png", alt="ГазПром")

			// --------------training-packages-----
			section.training
				.container.container-test-1024.container-test-1440
					h2.training__title Выберите свой пакет&nbsp;обучения
					.package-wrapper
						.package-wr
							.package-card
								h3.package-card__title Пакет
								h2.package-card__name «<span>С</span>тратегия»
								.package-card__img-wr
									img(src="static/img/box_strategy.png", alt="Пакет стратегия")
									.package-card__img-place Мест осталось
									p.package-card__img-place-text 180/200
								h3.package-card__price 71 000 руб
								p.package-card__price-text От 6 256 рублей в месяц***
								a(href="#").package-card__info Что входит в пакет
						.package-wr
							.package-card
								h3.package-card__title Пакет
								h2.package-card__name «<span>Т</span>ктика»
								.package-card__img-wr
									img(src="static/img/box_tactic.png", alt="Пакет тактика")
									.package-card__img-place Мест осталось
									p.package-card__img-place-text 180/200
								h3.package-card__price 51 000 руб
								p.package-card__price-text От От 4 442 рублей в месяц***
								a(href="#").package-card__info Что входит в пакет
						.package-wr
							.package-card
								h3.package-card__title Пакет
								h2.package-card__name «<span>К</span>орпоративный»
								.package-card__img-wr
									img(src="static/img/box_corp.png", alt="Пакет корпоративный")
									.package-card__img-place Мест осталось
									p.package-card__img-place-text 180/200
								h3.package-card__price 150 000 руб
								p.package-card__price-text TODO: короткий текст
								a(href="#").package-card__info Что входит в пакет
					.training-info
						.training-info__card
							.training-info-img
								img(src="static/img/usb.png", alt="Доступ к записям")
							h3.training-info-title Доступ к записям
							p.training-info-text Доступ к записям и материалам курса на полгода
						.training-info__card
							.training-info-img
								img(src="static/img/lifebuoy.png", alt="Поддержка")
							h3.training-info-title Поддержка
							p.training-info-text Проведем 2 мастер-группы: коллективный разбор кейсов и Скайп- конференцию с преподавателями. Ответим на все вопросы!
						.training-info__card
							.training-info-img
								img(src="static/img/closed-group.png", alt="Закрытая группа")
							h3.training-info-title Закрытая группа
							p.training-info-text Вы станете участником закрытого клуба выпускников, в котором маркетологи и владельцы бизнеса обмениваются опытом, делятся полезными материалами, а преподаватели отвечают на сложные вопросы по digital-маркетингу

			// --------------registration-form-----
			.registration-wr
				.container.container-test-1024.container-test-1440
					form(action="").registration
						h2.registration__title Регистрация
						.registration__label-wr
							label.registration__label Ваше имя
								input.registration__label-text(type="text")
						.registration__label-wr
							label.registration__label Ваш e-mail
								input.registration__label-text(type="text")
						.registration__label-wr
							label.registration__label Ваш телефон
								input.registration__label-text(type="text")
						.registration__label-wr
							label.registration__label Промокод
								input.registration__label-text(type="text" invalid)
						a.button.registration__botton(href="#") Зарегистрироваться
						.registration__checkbox
							.registration__checkbox-wr
								label.registration__checkbox-label Согласен с условиями оферты и ознакомлен с правилами обработки персональных данных
									input.registration__checkbox-input(type="checkbox")
									span.registration__checkbox-input-checkbox
							.registration__checkbox-wr
								label.registration__checkbox-label Подписаться на материалы блога и анонсы интересных событий
									input.registration__checkbox-input(type="checkbox")
									span.registration__checkbox-input-checkbox
							.registration__checkbox-wr
								label.registration__checkbox-label Хочу приобрести пакет «Стратегия»
									input.registration__checkbox-input(type="checkbox")
									span.registration__checkbox-input-checkbox
							.registration__checkbox-wr
								label.registration__checkbox-label Хочу приобрести пакет «Тактика»
									input.registration__checkbox-input(type="checkbox")
									span.registration__checkbox-input-checkbox

			// --------------comments--------------
			section.comments
				.container
					h2.comments__title Отзывы участников программы
						.comments-wr
							.comments__youtube
								img(src="static/img/youtube01.png", alt="video")
							.comments__comment
								.student-wr
									img.student-img(src="static/img/avatar-dmitry-topolya-mini.png", alt="Дмитрий Тополя")
									.student-name-and-stram
										h3.student-name <span>Д</span>итрий Тополя
										p.student-stream 15 поток
								p.comment-wr Совладелец и технический директор маркетинговой группы «Комплето». Аккредитованный преподаватель Нидерландского Института Маркетинга, Академии интернет-маркетинга «Ашманов и партнеры», Нетологии, CyberMarketing. Спикер на ключевых конференциях по поисковой оптимизации и веб-аналитике: iMetrics, Ашмановка и другие
							.pages
								.pages__pre предыдущий
								.pages__num 1
								.pages__num-from /3
								.pages__next следующий

			// --------------programm--------------
			section.programm
				.container.container-test-1024.container-test-1440
					h2.programm__title Преподаватели
					.moduls-wr#modulsWr
						include teacher.pug
						include teacher.pug
						include teacher.pug
						include teacher.pug
						include teacher.pug
						include teacher.pug
						include teacher.pug
						include teacher.pug
						include teacher.pug
						include teacher.pug
						include teacher.pug
					.pages.programm__pages
						.pages__pre предыдущий
						.pages__num 1
						.pages__num-from /11
						.pages__next следующий
					a.button.mt40.programm__pages(href="#") Зарегистрироваться
					h3.strategy__subtitle При покупке пакета
					h2.strategy__title «Стратегия»
					.moduls-wr#modulsWr
						include modul.pug
						include modul.pug
						include modul.pug
						include modul.pug
						include modul.pug
						include modul.pug
						include modul.pug
					.pages.programm__pages
						.pages__pre предыдущий
						.pages__num 1
						.pages__num-from /4
						.pages__next следующий
					a.button.mt40.programm__pages(href="#") Зарегистрироваться

			// --------------projects--------------
			section.projects
				.container
					h2.projects__title Программа разработана на основе проектов для&nbsp;наших клиентов
					.companies-wrapper#companies
						.companies-wr
							.companies__img
								img(src="static/img/company-alta.png", alt="alta")
							.companies__img
								img(src="static/img/company-severstal.png", alt="alta")
							.companies__img
								img(src="static/img/company-ucg.png", alt="alta")
							.companies__img
								img(src="static/img/company-torex.png", alt="alta")
							.companies__img
								img(src="static/img/company-sxz.png", alt="alta")
							.companies__img
								img(src="static/img/company-megaflex.png", alt="alta")
							.companies__img
								img(src="static/img/company-edimdoma.png", alt="alta")
							.companies__img
								img(src="static/img/company-bestklinik.png", alt="alta")
							.companies__img
								img(src="static/img/company-obeh.png", alt="alta")
							.companies__img
								img(src="static/img/company-velux.png", alt="alta")
						.companies-wr
							.companies__img
								img(src="static/img/ochakovsky.png", alt="ochakovsky")
							.companies__img
								img(src="static/img/lafarge.png", alt="lafarge")
							.companies__img
								img(src="static/img/komek.png", alt="komek")
							.companies__img
								img(src="static/img/beeline.png", alt="beeline")
							.companies__img
								img(src="static/img/konfael.png", alt="konfael")
							.companies__img
								img(src="static/img/lapino.png", alt="lapino")
							.companies__img
								img(src="static/img/mariya.png", alt="mariya")
							.companies__img
								img(src="static/img/buldors.png", alt="buldors")
							.companies__img
								img(src="static/img/favorite.png", alt="favorite")
						.companies-wr
							.companies__img
								img(src="static/img/interflora.png", alt="interflora")
							.companies__img
								img(src="static/img/kant.png", alt="kant")
							.companies__img
								img(src="static/img/aristo.png", alt="aristo")
							.companies__img
								img(src="static/img/hartman.png", alt="hartman")
							.companies__img
								img(src="static/img/speco.png", alt="speco")
							.companies__img
								img(src="static/img/mother.png", alt="mother")
							.companies__img
								img(src="static/img/fitnes.png", alt="fitnes")
							.companies__img
								img(src="static/img/dataline.png", alt="dataline")
							.companies__img
								img(src="static/img/unipharm.png", alt="unipharm")
							.companies__img
								img(src="static/img/gazpromliz.png", alt="gazpromliz")
					//- .pages
					//- 	.pages__pre предыдущий
					//- 	.pages__num 1
					//- 	.pages__num-from /3
					//- 	.pages__next следующий
			// --------------outcomes--------------
			section.outcomes
				.container
					h2.outcomes__title Результат обучения
				.outcomes-slider#outcomesSlider
					.outcome-wr
						.outcome
							img(src="static/img/brain.png", alt="Системные знания")
							h3.outcome__title Системные знания
							p.outcome__text Системные знания и готовая стратегия digital-маркетинга для вашей компании. Бери и делай
					.outcome-wr
						.outcome.outcome-diplom
							img(src="static/img/diploma.png", alt="Диплом")
							h3.outcome__title Диплом
							p.outcome__text Диплом о дополнительном образовании
					.outcome-wr
						.outcome.outcome-chess
							img(src="static/img/chess.png", alt="Шахматный конь")
							h3.outcome__title 100% понимание
							p.outcome__text 100% понимание, как выстроить сквозную аналитику до прибыли в своей компании
					.outcome-wr
						.outcome.outcome-labirint
							img(src="static/img/labirint.png", alt="Лабиринт")
							h3.outcome__title Выход из тупика
							p.outcome__text Аналитика до продаж, как выйти из тупика, даже если раньше перепробовали всё: каналы рекламы, подрядчиков, переделку сайта
					.outcome-wr
						.outcome.outcome-fb
							img(src="static/img/fb.png", alt="FaceBook")
							h3.outcome__title Группа Facebook
							p.outcome__text Закрытая группа, где можно задавать вопросы и после окончания курса
					.outcome-wr
						.outcome.outcome-videos
							img(src="static/img/videos.png", alt="записи")
							h3.outcome__title Доступ к записям
							p.outcome__text Бессрочный доступ к записям всех модулей курса
					.outcome-wr
						.outcome.outcome-studentcap
							img(src="static/img/studentcap.png", alt="Студенческая шапка")
							h3.outcome__title Навыки
							p.outcome__text Научитесь использовать все инструменты digital-маркетинга на благо компании
					.outcome-wr
						.outcome.outcome-bomb
							img(src="static/img/bomb2.png", alt="bomb")
							h3.outcome__title Трудоустройство
							p.outcome__text Лучшим студентам помогаем устроиться на работу в агентства или к клиентам
				.pages(style="padding-top:68px")
					.pages__pre предыдущий
					.pages__num 1
					.pages__num-from /4
					.pages__next следующий
			// --------------cost------------------
			section.cost
				.container
					h2.cost__title Стоимость курса
					.cost-wr
						.cost__package
							h3.cost__subtitle Пакет
							h2.cost__strategy-title «<span>С</span>тратегия»
							.cost__img
								img(src="static/img/box-strategy.png", alt="пакет стратегия")
							.cost__price 69 000 руб
							.cost__price-text От 6 256 рублей в месяц***
						.cost__package
							h3.cost__subtitle Пакет
							h2.cost__strategy-title «<span>Т</span>актика»
							.cost__img
								img(src="static/img/box-strategy.png", alt="пакет тактика")
							.cost__price 49 000 руб
							.cost__price-text От 4 442 рублей в месяц***

			// --------------registration-form-----
			.registration-wr
				.container.container-test-1024.container-test-1440
					form(action="").registration
						h2.registration__title Регистрация
						.registration__label-wr
							label.registration__label Ваше имя
								input.registration__label-text(type="text")
						.registration__label-wr
							label.registration__label Ваш e-mail
								input.registration__label-text(type="text")
						.registration__label-wr
							label.registration__label Ваш телефон
								input.registration__label-text(type="text")
						.registration__label-wr
							label.registration__label Промокод
								input.registration__label-text(type="text" invalid)
						a.button(href="#") Зарегистрироваться
						.registration__checkbox
							.registration__checkbox-wr
								label.registration__checkbox-label Согласен с условиями оферты и ознакомлен с правилами обработки персональных данных
									input.registration__checkbox-input(type="checkbox")
									span.registration__checkbox-input-checkbox
							.registration__checkbox-wr
								label.registration__checkbox-label Подписаться на материалы блога и анонсы интересных событий
									input.registration__checkbox-input(type="checkbox")
									span.registration__checkbox-input-checkbox
							.registration__checkbox-wr
								label.registration__checkbox-label Хочу приобрести пакет «Стратегия»
									input.registration__checkbox-input(type="checkbox")
									span.registration__checkbox-input-checkbox
							.registration__checkbox-wr
								label.registration__checkbox-label Хочу приобрести пакет «Тактика»
									input.registration__checkbox-input(type="checkbox")
									span.registration__checkbox-input-checkbox

			// --------------warranty--------------
			section.warranty
				.warranty__img
					img(src="static/img/guarantee.png", alt="гарантия")
				.container
					h2.warranty__title <span>100%</span> Гарантия возврата денег
					p.warranty__subtitle Если до 3-го занятия обучение не оправдает ваших ожиданий, мы вернем деньги!
					.profit-wr
						.profit-block
							.profit__img
								img(src="static/img/3-times-more.png", alt="Три")
							h3.profit__title <span>В 3 раза дешевле</span>, чем нанять&nbsp;консультанта
							p.profit__text Стоимость часа консультации эксперта по&nbsp;SEO, аналитике, интернет-маркетингу — от&nbsp;3000 руб. Наш курс обойдется в 1250 руб./час. И это не считая индивидуальных и&nbsp;групповых консультаций, предусмотренных на курсе
						.profit-block
							.profit__img
								img(src="static/img/4-times-more.png", alt="Четыре")
							h3.profit__title <span>В 4 раза дешевле</span>, чем создать стратегию силами интернет-маркетолога
							p.profit__text Средняя зарплата интернет-маркетолога в&nbsp;Москве — 60 000 руб. в месяц. Для разработки стратегии ему понадобится не&nbsp;менее 3 месяцев — получается 180 000 руб. Курс стоит 55 000 руб. Вы трижды сэкономите на создании стратегии!
						.profit-block
							.profit__img
								img(src="static/img/10-times-more.png", alt="Три")
							h3.profit__title <span>В десятки раз дешевле</span>, чем&nbsp;продолжать работать без системы
							p.profit__text Знаете сколько денег можно потерять без&nbsp;системных знаний? А мы посчитали!
					a.button.dowloand-button(href="#") Скачать статью

			// --------------corporate-training----
			section.corporate-training
				.corporate-training__circle
					.corporate-training__circle-d
				.container
					h2.corporate-training__title Корпоративное обучение
						.corporate-training__title-garanty с гарантией
				.training-slider#trainingSlider
					.training-slider__wr
						h3.training-slider__title <span>А</span>даптация курса
						p.training-slider__text Адаптируем курс под задачи&nbsp;вашей&nbsp;компании
					.training-slider__wr
						h3.training-slider__title.corporate-training__title-a <span>И</span>ндивидуальный график
						p.training-slider__text Индивидуальный график для группы, не нарушающий рабочий процесс
					.training-slider__wr
						h3.training-slider__title.corporate-training__title-b <span>П</span>одготовка команды
						p.training-slider__text Подготовка и сплочение команды специалистов, которые по окончании курса реализуют созданную стратегию
					.training-slider__wr
						h3.training-slider__title.corporate-training__title-c <span>Г</span>арантия обучения
						p.training-slider__text Бесплатно обучим одного сотрудника, если в течение 6 месяцев обученный специалист уволится
				.container
					.pages(style="padding-top:7px; position: relative;")
						.pages__pre предыдущий
						.pages__num 1
						.pages__num-from /8
						.pages__next следующий
					.corporate-training__img
						img(src="static/img/garanty-mans.png", alt="гарантия")
			// --------------footer----------------
			.registration-wr
				.container.container-test-1024.container-test-1440
					form(action="").registration
						h2.registration__title Подать заявку на корпортивное обучение
						.registration__label-wr
							label.registration__label Ваше имя
								input.registration__label-text(type="text")
						.registration__label-wr
							label.registration__label Ваш e-mail
								input.registration__label-text(type="text")
						.registration__label-wr
							label.registration__label Ваш телефон
								input.registration__label-text(type="text")
						.registration__label-wr
							label.registration__label Промокод
								input.registration__label-text(type="text" invalid)
						a.button(href="#") Подать заявку
						.registration__checkbox
							.registration__checkbox-wr
								label.registration__checkbox-label Согласен с условиями оферты и ознакомлен с правилами обработки персональных данных
									input.registration__checkbox-input(type="checkbox")
									span.registration__checkbox-input-checkbox
							.registration__checkbox-wr
								label.registration__checkbox-label Подписаться на материалы блога и анонсы интересных событий
									input.registration__checkbox-input(type="checkbox")
									span.registration__checkbox-input-checkbox

			<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
			script(src="static/js/libs.min.js")
			script(src="static/js/main.js")
			<script>AOS.init({duration: 600});</script>
