doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="theme-color" content="#171717")
		link(rel="stylesheet", href="static/css/main.css?v.0.0.3")
		title MaEd
	body
		// header
		header.container
			.header
				a.header__logo(href="/")
					img(src="static/img/logo.png", alt="Логотип")
				.headerInfoWr
					.headerInfo
						.headerInfo__date 29.94 – 25.07
						.headerInfo__time понедельник и четверг 18:00
					.headerInfo
						.headerInfo__format Формат
						.headerInfo__formatDescr Вебинары, Skype, Facebook
		// main
		.container
			.main
				.main__title Интернет- маркетинг
				.main__subtitle Для B2B и сложных рынков
				.main__text Покажем, как выстроить стратегию и&nbsp;тактику интернет-маркетинга для&nbsp;Вашей компании
				a.button(href="#") Зарегистрироваться
		// Andrew
		.img
		// during development
		.Yeah-I-m-working-on-that Сайт в разработке

		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")