.teacher-wr
	h3.teacher__modul.teacher__modul-green Модуль 13
	.teacher__img
		img(src="static/img/avatar-mikhael-fedorov3.png", alt="Михаил федоров")
	h3.teacher__name Михаил федоров
	p.teacher__text Digital-директор: разрабатываем стратегию digital-маркетинга
	.teacher__info
		.teacher-theory 3.5 часа
		.teacher-practice 2 часа
	a(href="").teacher__button Подробнее