doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="theme-color" content="#171717")
		link(rel="stylesheet", href="static/css/main.css?v.0.0.27")
		title Модуль 3
	body
		.popap
			.modul-popap
				.modul-popap__content
					.modul-popap__close
					.modul-popap__img
						img(src="static/img/modul-3-mixail.jpg", alt="Михаил Федоров")
					.modul-popap__descr
						.modul-popap__controls
							.modul-popap__control.modul-popap__control-active Описание
							.modul-popap__control Видео
						h2.modul-popap__title <span>М</span>ихаил Федоров
						p.modul-popap__text Проводим экспресс-аудит поисковой оптимизации сайта
						.modul-popap__learn
							h3.learn__title Узнаете:
							p.learn__text Какие роли выполняет поисковый маркетинг
							p.learn__text Как провести аудит текущего SEO в компании
							p.learn__text Как подбирать базу поисковых запросов (семантического ядра)
						.modul-popap__learn
							h3.learn__title Научитесь:
							p.learn__text.learn__text-edu Проводить экспресс-аудит текущей оптимизации сайта