doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="theme-color" content="#171717")
		link(rel="stylesheet", href="static/css/main.css?v.0.0.27")
		title Модуль 14
	body
		.popap
			.modul-popap
				.modul-popap__content
					.modul-popap__close
					.modul-popap__img
						img(src="static/img/modul-14-vladimir.jpg", alt="Владимир Давыдов")
					.modul-popap__descr
						.modul-popap__controls
							.modul-popap__control.modul-popap__control-active Описание
							.modul-popap__control Видео
						h2.modul-popap__title <span>В</span>ладимир Давыдов
						p.modul-popap__text Как выбрать агентство интернет-маркетинга или подрядчика
						.modul-popap__learn
							h3.learn__title Узнаете:
							p.learn__text Отличия агентств и подходов к работе
							p.learn__text Что такое «комплексный подход
							p.learn__text Что такое «комплексный подход к интернет-маркетингу», и почему он есть у немногих
							p.learn__text По каким критериям подобрать агентство интернет-маркетинга
							p.learn__text Как определить уровень компетентности специалистов