doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="theme-color" content="#171717")
		link(rel="stylesheet", href="static/css/main.css?v.0.0.27")
		title Модуль 2
	body
		.popap
			.modul-popap
				.modul-popap__content
					.modul-popap__close
					.modul-popap__img
						img(src="static/img/modul-2-andrey.jpg", alt="Андрей Гавриков")
					.modul-popap__descr
						.modul-popap__controls
							.modul-popap__control.modul-popap__control-active Описание
							.modul-popap__control Видео
						h2.modul-popap__title <span>А</span>ндрей Гавриков
						p.modul-popap__text Анализируем конкурентов, прорабатываем отстройку от них и составляем список работ по своей компании
						.modul-popap__learn
							h3.learn__title Узнаете:
							p.learn__text Как выбрать позиционирование и создать уникальное торговое предложение (УТП)
							p.learn__text Как ставить цели перед конкурентным анализом
							p.learn__text Как подбирать конкурентов для анализа
							p.learn__text Как анализировать позиционирование конкурента
							p.learn__text Как анализировать продвижение конкурентов в интернете
							p.learn__text Как анализировать сайты конкурентов
							p.learn__text Какие инструменты и алгоритмы необходимы для проведения конкурентного анализа
						.modul-popap__learn
							h3.learn__title Научитесь:
							p.learn__text.learn__text-edu Анализировать конкурентов
							p.learn__text.learn__text-edu Составлять список необходимых работ
							p.learn__text.learn__text-edu Отстраиваться от конкурентов и создавать УТП для каждого сегмента