doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="theme-color" content="#171717")
		link(rel="stylesheet", href="static/css/main.css?v.0.0.27")
		title Модуль 1
	body
		.popap
			.modul-popap
				.modul-popap__content
					.modul-popap__close
					.modul-popap__img
						img(src="static/img/modul-1-andrey.jpg", alt="Андрей Гавриков")
					.modul-popap__descr
						.modul-popap__controls
							.modul-popap__control.modul-popap__control-active Описание
							.modul-popap__control Видео
						h2.modul-popap__title <span>А</span>ндрей Гавриков
						p.modul-popap__text Ставим цель digital-маркетинга, сегментируем целевую аудиторию, составляем список целевых действий на сайте
						.modul-popap__learn
							h3.learn__title Узнаете:
							p.learn__text Какова роль digital-маркетинга в бизнес-модели компании;&nbsp;Как&nbsp;ставить цели перед digital-маркетингом
							p.learn__text Ставить цели digital-маркетинга
							p.learn__text Как выявлять потребности ЦА
							p.learn__text Как создавать типовых персонажей
							p.learn__text Как выявлять дополнительные клиентские ниши
						.modul-popap__learn
							h3.learn__title Научитесь:
							p.learn__text.learn__text-edu Ставить цели электронного маркетинга
							p.learn__text.learn__text-edu Сегментировать целевую аудиторию
							p.learn__text.learn__text-edu Составлять список целевых действий на сайте