doctype html
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="theme-color" content="#171717")
		link(rel="stylesheet", href="static/css/main.css?v.0.0.27")
		title Модуль 6
	body
		.popap
			.modul-popap
				.modul-popap__content
					.modul-popap__close
					.modul-popap__img
						img(src="static/img/modul-4-dmitry.jpg", alt="Дмитрий Федоров")
					.modul-popap__descr
						.modul-popap__controls
							.modul-popap__control.modul-popap__control-active Описание
							.modul-popap__control Видео
						h2.modul-popap__title <span>Д</span>митрий Федоров
						p.modul-popap__text Разрабатываем стратегию медийной рекламы
						.modul-popap__learn
							h3.learn__title Узнаете:
							p.learn__text Основные понятия медийной рекламы
							p.learn__text Как использовать системы контекстной рекламы Яндекс.Директ и Google AdWords
							p.learn__text Как разрабатывать стратегии показа объявлений
							p.learn__text Ключевые настройки рекламных кампаний, на что обратить внимание
							p.learn__text Требования к баннеру
							p.learn__text Настройки для сбора аналитических данных о рекламных кампаниях и их эффективности
							p.learn__text Прогнозирование рекламного бюджета и отдачи
						.modul-popap__learn
							h3.learn__title Научитесь:
							p.learn__text.learn__text-edu Разрабатывать стратегию показа медийной рекламы
							p.learn__text.learn__text-edu Прогнозировать бюджет и эффективность медийной рекламы