.teacher-wr
	h3.teacher__modul Модуль 1
	.teacher__img
		img(src="static/img/avatar-andrey-gavrikov3.png", alt="Андрей Гавриков")
	h3.teacher__name Андрей Гавриков
	p.teacher__text Ставим цель digital-маркетинга, сегментируем целевую аудиторию, составляем список целевых действий на сайте
	.teacher__info
		.teacher-theory 3.5 часа
		.teacher-practice 2 часа
	a(href="").teacher__button Подробнее